:root {
  --font-sans: "CursorGothic", "CursorGothic Fallback", system-ui,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-berkeley-mono: "berkeleyMono", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
@font-face {
  font-family: CursorGothic;
  src: url(fonts/CursorGothic-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: CursorGothic;
  src: url(fonts/CursorGothic-Italic.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: CursorGothic;
  src: url(fonts/CursorGothic-Bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: CursorGothic;
  src: url(fonts/CursorGothic-BoldItalic.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: CursorGothic Fallback;
  src: local(Arial);
  ascent-override: 92.76%;
  descent-override: 23.7%;
  line-gap-override: 9.67%;
  size-adjust: 103.38%;
}
.cursorgothic_71ba3fd8-module__Sj65MG__className {
  font-family: CursorGothic, CursorGothic Fallback, system-ui, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}
.cursorgothic_71ba3fd8-module__Sj65MG__variable {
  --font-sans: "CursorGothic", "CursorGothic Fallback", system-ui,
    Helvetica Neue, Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: berkeleyMono;
  src: url(fonts/BerkeleyMono-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: berkeleyMono;
  src: url(fonts/BerkeleyMono-Oblique.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
.berkeleymono_82e21e43-module__aDRXRq__className {
  font-family: berkeleyMono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
}
.berkeleymono_82e21e43-module__aDRXRq__variable {
  --font-berkeley-mono: "berkeleyMono", ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, Liberation Mono, Courier New, monospace;
}
